body {
    margin: 0; /* sin margen*/
    height: 100vh; /* Altura total de la ventana */
    overflow: hidden; /* oculta las barrras de desplazamiento */
    background-color: #ffffff;
}
#coche {
    position: absolute; /* como vamos a poner las coordenadas concretas en la inicialización del coche, esto nos permite poner luego los valores de top, left, right y bottom */
    top: 500px; /* número de píxeles para poner el coche desde arriba*/
    left: 100px; /* Lo mismo, pero con la izquierda */
    width: 100px; /* Y también definimos el tamaño del coche */
    height: 100px;
    /* la imagen se encuentra en la raíz del proyecto */
    background-image: url('./coche-derecha.png');
    background-size: cover; /*que el tamaño del fondo cubra el espacio reservado por el div del id del coche*/
}